body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(170, 246, 248);
    background-color: rgb(47, 255, 252);
    border: rgb(0, 0, 0);
}
.object_name_label{
    font-weight: bold;
    font-size: 15px;
    border-color: black;
}
canvas{
    border-radius: 10px;
    background-color: rgb(40, 198, 245);
    box-shadow: 7px 7px 7px white;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}